<div id = "addform" class ="" style = "text-align:center;">
	<div style = "margin: 0 auto;float:none;">
	<%= form_for(@search, remote: true) do |f| %>
		<%= f.label :state, class: "input" %>
		<div style = "width:20rem;margin: 0 auto;">
		<%= f.text_field :state, class: "form-control"%>
		</div>
		<%= f.label :city, class: "input" %>
		<div style = "width:20rem;margin: 0 auto;">
		<%= f.text_field :city, class: "form-control"%>
		</div>
		<br>
		<%= f.submit "Search", class: "btn btn-default new-search" %>
	<% end %>
	</div>
</div>