<%= div_for(search) do %>
<div class = "weather-container animated fadeIn">
	<div class = "temperature">
		<div style = "font-size:3rem;"><%= search.city.capitalize %>, <%= search.state.upcase %></div>
	</div>
	<div class = "more-detail">
		<div style = "background-color:#CFD8DC;height:200px;width:100%;border-radius:0 1rem 0 0">
			<span style = "float:right"><%= link_to "X", search, method: :delete, remote: true , style: "color:white" , class: "btn btn-danger" %></span>
			<div class ="weatherimage">

			</div>
			


		</div>
		<div style = "background-color:#2196F3;height:100px;width:100%;border-radius:0 0rem 1rem 0rem;">
			<span style = "margin:1rem"><%= image_tag "wind.png" %> <span style = "width:1rem;color:white" class = "wind"></span></span>

		</div>
	</div>
	
</div>

<% end %>
